
<p>Additional people who are interested in adopting or walking a dog can be added to the human database</p>

<br>
  <nav>
        <a href="/paws/humans/all">All Humans |</a>
        <a href="/paws/humans/allwalkers">Walkers |</a>
        <a href="/paws/humans/alladopters">Adopters |</a>
        <a href="/paws/adoptions/all">Adoptions</a>
  </nav>
<br>
<br>
<h2>All humans interested in walking dogs</h2>
<div class="humans">
  <table style="width:100%">
    <tr>
        <th><p.thick>Photo</p.thick></th>
        <th><p.thick>First Name</p.thick></th>
        <th><p.thick>Last Name</p.thick></th>
        <th><p.thick>Adopter</p.thick></th>
        <th><p.thick>Walker</p.thick></th>
        <th><p.thick>Human Profile</p.thick></th>
    </tr>
    <% for human in @humans do %>
    <tr>
      <td><a href="/paws/humans/<%= human.id %>"><img src="<%= human.human_photo_file_path%>" alt="Human Profile Photo" class="Centre" style="width:50px;border:0;"></td>
      <td><%= human.first_name() %></td>
      <td><%= human.last_name() %></td>
      <td><%= human.adopter() ? 'Yes' : 'No'  %></td>
      <td><%= human.walker() ? 'Yes' : 'No'  %></td>
      <td><a href="/paws/humans/<%= human.id %>" class="">View Human</a></td>
    <% end %>
            </tr>
  </table>
</div>
