

<br>
  <nav>
        <a href="/paws/humans/all">All Humans |</a>
        <a href="/paws/humans/allwalkers">Walkers |</a>
        <a href="/paws/humans/alladopters">Adopters |</a>
        <a href="/paws/adoptions/all">Adoptions</a>
  </nav>
<br>
<br>
<h2>Edit a Human's Profile</h2>
<form method="POST" action="/paws/human/<%= @human.id %>">

    <label for="first-name-field">Name: </label>
    <input type="text" name="first_name" value="<%= @human.first_name %>" id="first-name-field"/>
    <br>
    <label for="last-name-field">Name: </label>
    <input type="text" name="last_name" value="<%= @human.last_name %>" id="last-name-field"/>
    <br>
      <input type="radio" name="group3" id="adopter3" value="t" /><label for="adopter3"> Interested in adopting</label>
      <input type="radio" name="group4" id="adopter4" value="t" /><label for="adopter4"> Interested in Walking</label>
  </form>
    <input type='submit' value="Submit Your Human's Edits">
    </form>
    <a href="/paws/humamns/<%=@human.id %>" class="button">View Human Details</a>
    <a href="/paws/dogs/<%=@human.id%>/edit" class="button">Edit Human Details</a>
    <a href="/paws/dogs/<%= @human.id %>/delete" class="button">Remove Human</a>
    <hr/>
