
<h2>Show details for <%= @human.first_name() %> <%= @human.last_name() %></h2>

<div class="humans">
  <div class="img-container">
          <img src="<%= @human.human_photo_file_path%>" style="width:200px;" alt="Human Profile Photo" class="center" />
  </div>
    <p.thick>First Name:</p.thick><p><%= @human.first_name() %></p></p>
    <p.thick>Last Name:</p.thick><p><%= @human.last_name() %></p></p>
    <p.thick>Available to adopt: </p.thick><p><%= @human.adopter %></p>
    <p.thick>Available to walk: </p.thick><p><%= @human.walker %></p>
  <a href="/paws/humans/<%=@human.id %>" class="button">View Human Profile</a>
  <a href="/paws/humans/<%=@human.id%>/edit" class="button">Edit Human Profile</a>
  <a href="/paws/humans/<%= @human.id %>/delete" class="button">Remove Human</a>
  <hr/>
</div>
