<h2>All dogs</h2>

<table>
  <tr>
    <th><p.thick>Human Name</p.thick></th>
    <th><p.thick>Animal Name</p.thick></th>
    <th><p.thick>Available for Adoption</p.thick></th>
    <th></th>
  </tr>
  <% for adoption in @adoptions %>


  <tr>
    <td> <a href="/humans/<%= adoption.human.id %>"><%= adoption.human.first_name %> <%= adoption.human.surname_name %></a> </td>
    <td> <a href="/dogs/<%= adoption.animal.id %>"><%= adoption.animal.name %></a></td>
    <td> <a href="/dogs/<%= adoption.animal.id %>"><%= adoption.animal.dog_adoption_available %></a></td>
    <td> <a href="/adoptions/<%= adoption.id %>">View Details</a> </td>
  </tr>


  <% end %>
</table>
