<h2>All Dogs with homes</h2>
<!-- All dogs that have been adopted  -->
<% for dog in @dogs %>

  <hr/>

  <div class="dogs">

    <p>Name: <%= dog.animal_name() %></p>
    <p>Breed: <%= dog.animal_breed %></p>
    <p>My human age: <%= dog.animal_age %></p>
    <p>Who is my human <%= dog.human_id %></p>
    <p><a href="/paws/<%= dog.id %>">View Dog</a></p>
    <hr/>
  </div>

<% end %>
