<h2>Show dog details for <%= @dog.animal_name() %></h2>

<hr/>
  <div class="dogs">

    <p.thick>Name:</p.thick><p><%= @dog.animal_name() %></p></p>
    <p.thick>Breed: </p.thick><p><%= @dog.animal_breed %></p>
    <p.thick>Age: </p.thick><p><%= @dog.animal_age %></p>
    <p.thick>Currently lives in: </p.thick><p><%= @dog.animal_location %></p>
    <p.thick>About me: </p.thick><p><%= @dog.animal_profile %></p>
    <p.thick>Am I trained?: </p.thick><p><%= @dog.trained?() ? 'Yes' : 'No' %></p>
    <p.thick>Do I have my jabs?: </p.thick><p><%= @dog.innoculated?() ? 'Yes' : 'No' %></p>
    <p.thick>Am I neutered?: </p.thick><p><%= @dog.snipped?() ? 'Yes' : 'No' %></p>
    <p.thick>Am I available to be homed?: </p.thick><p><%= @dog.available?() ? 'Yes' : 'No' %></p>
<!--
    <form action="/paws/dogs/<%=@dog.id %>">
        <input type="submit" value="View Dog Details"/>
    </form>

    <form action="/paws/dogs/<%=@dog.id%>/edit">
        <input type="submit" value="Edit Dog Details"/>
    </form>

    <form action="/paws/dogs/<%= @dog.id %>/delete" method="post">
      <input type="submit" value="Remove Dog"> -->
    </form>
    <a href="/paws/dogs/<%=@dog.id %>" class="button">View Dog Details</a>
    <a href="/paws/dogs/<%=@dog.id%>/edit" class="button">Edit Dog Details</a>
    <a href="/paws/dogs/<%= @dog.id %>/delete" class="button">Remove Dog</a>
    <hr/>
  </div>
