<h2>List of dogs that are not currently adoptable</h2>
  <hr>
  <p>Name: <%= dog.animal_name() %></p>
  <p>Breed: <%= dog.animal_breed %></p>
  <p>Age: <%= dog.animal_age %></p>
  <p>Currently lives in: <%= dog.animal_location %></p>
  <p>About me: <%= dog.animal_profile %></p>
  <p>Am I trained?: <%= dog.dog_training %></p>
  <p>Do I have my jabs?: <%= dog.dog_innoculation %></p>
  <p>Am I neutered?: <%= dog.dog_neutered %></p>
  <p>Am I available to be homed?: <%= dog.dog_adoption_available %></p>
  <hr>

  <p><a href="/paws/<%=@dog.id %>">View Dog</a></p>
  <a href="/paws/<%=@dog.id %>/edit">Edit Dog</a>

  <form action="/paws/<%= @dog.id %>/delete" method="post">
    <input type="submit" value="Delete Student">
  </form>
  <hr>
